@model FashionShop.Web.Models.PageViewModel
@{
    ViewBag.Title = @Model.Name;
    ViewBag.MetaKeyword = @Model.Name;
    ViewBag.MetaDescription = Model.Name;
    Layout = "~/Views/shared/Layouts.cshtml";
}

<div class="single_top">
    <div class="single_grid">
        <h1 style="color: black; font-size: 3rem; font-weight: bold;">@Model.Name</h1>
        @Html.Raw(Model.Content)
        <div class="clearfix"> </div>
    </div>
    <img src="~/Assets/client/images/bg.jpg" style="width: 100%;" alt="Alternate Text" />
    <hr />
    <p style="color: black; font-size: 3rem; font-weight: bold;">Thông tin liên hệ</p>
    <p>Website: fashionshop.vn</p>
    <p>Holine: +84 1234 56789</p>
    <p>Email: fashionshop@gmail.com.vn</p>
</div>