<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="PageSize" value="9"/>
	<add key="MaxPage" value="5"/>

	<add key="SMTPHost" value="smtp.gmail.com"/>
	<add key="SMTPPort" value="587"/>
	<add key="FromEmailAddress" value="tranhobao0914705078@gmail.com"/>
	<add key="FromEmailPassword" value="baxunfubcpprgcjk"/>
	<add key="FromName" value="FashionShop"/>
	<add key="AdminEmail" value="tranhobao1812@gmail.com"/>
	<add key="CurrentLink" value="http://localhost:44364/"/>
</appSettings>