@model  FashionShop.Web.Models.PageViewModel
<style>
    .btn-submit:hover {
        color: #000;
    }
</style>
<div class="footer footer-main">
    <div class="footer-top">
        <div class="container">
            <div class="latter">
                <h6 style="color: #fff; font-size: 2rem; font-weight: bold; cursor: pointer">DREW-HOUSE</h6>
                <div class="sub-left-right">
                    <form>
                        <input class="footer-text" type="text" value="Enter email here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter email here';}" />
                        <input style="border-radius: 50px; background-color: cornflowerblue; margin: 0 20px;" class="footer-submit btn-submit" type="submit" value="SUBSCRIBE" />
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="latter-right">
                <p style="color: #fff; font-size: 2rem; font-weight: bold;">THEO DÕI CHÚNG TÔI</p>
                <ul class="face-in-to">
                    <li><a href="#"><span> </span></a></li>
                    <li><a href="#"><span class="facebook-in"></span></a></li>
                    <div class="clearfix"> </div>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-cate">
                <h6 style="color: #fff; font-size: 2rem; font-weight: bold;">Danh Mục Sản Phẩm</h6>
                <ul>
                    <li><a href="#">Quần</a></li>
                    <li><a href="#">Áo Thun</a></li>
                    <li><a href="#">Jacket</a></li>
                    <li><a href="#">Hoodie</a></li>
                    <li><a href="#">Mũ</a></li>
                    <li><a href="#">Sweater</a></li>
                </ul>
            </div>
            <div class="footer-bottom-cate bottom-grid-cat">
                <h6 style="color: #fff; font-size: 2rem; font-weight: bold;">HỖ TRỢ KHÁCH HÀNG</h6>
                <ul>
                    <li><a href="#">CHÍNH SÁCH THANH TOÁN</a></li>
                    <li><a href="#">CHÍNH SÁCH ĐỔI TRẢ</a></li>
                    <li><a href="#">CHÍNH SÁCH VẬN CHUYỂN</a></li>
                    <li><a href="#">HƯỚNG DẪN MUA HÀNG</a></li>
                    <li><a href="#">CHÍNH SÁCH BẢO MẬT</a></li>
                </ul>
            </div>
            <div class="footer-bottom-cate">
                <h6 style="color: #fff; font-size: 2rem; font-weight: bold;">LIÊN KẾT</h6>
                <ul>
                    <li><a href="/trang/gioi-thieu.html">VỀ CHÚNG TÔI</a></li>
                    <li><a href="#">NEWS - EVENTS</a></li>
                    <li><a href="#">HỖ TRỢ KỸ THUẬT</a></li>
                    <li><a href="#">ĐIỀU KHOẢN SỬ DỤNG</a></li>
                    <li><a href="/lien-he.html">LIÊN HỆ</a></li>
                </ul>
            </div>
            <div class="footer-bottom-cate cate-bottom">
                <h6 style="color: #fff; font-size: 2rem; font-weight: bold;">CÔNG TY TNHH THỜI TRANG DREW-HOUSE</h6>
                <ul>
                    <li style="color: #fff; font-size: 1rem; font-weight: bold;">ĐỊA CHỈ: VQ4P+249, Phường Tân Phú, Quận 9,</li>
                    <li style="color: #fff; font-size: 1rem; font-weight: bold;">Thành phố Hồ Chí Minh</li>
                    <li style="color: #fff; font-size: 1rem; font-weight: bold;">Hutech University</li>
                    <li class="phone" style="color: #fff; font-size: 2rem; font-weight: bold;">Phone : +84 123 456789</li>
                    <li class="temp" style="color: #fff; font-size: 2rem; font-weight: bold;"> <p class="footer-class" style="color: #fff; font-size: 1.6rem; font-weight: bold;">Design by <a href="http://w3layouts.com/" target="_blank">Bao</a> </p></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>