<!-- Content Header (Page header) -->
<style>
    .title-heading{
        position: relative;
        font-size: 3rem;
        text-align: center;
        font-weight: bold;
    }

    .banner {
        width: 100px;
        height: 500px;
        object-fit: cover;
        position: relative;
        left: 25px;
        top: 20px;
    }
</style>

<section class="content-header">
    <div class="container-fluid">
        <h1 class="title-heading">Drew House 2022</h1>
        <div class="banner">
            <img src="/Assets/admin/img/banner.jpg" alt="Alternate Text" />
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

</section>
<!-- /.content -->